<p style="text-align: center;"><strong>Details of each CO</strong></p>
                <mat-horizontal-stepper linear class="step" #stepper>
                <div class="co_details"  *ngFor="let i of po;index as num">
                    <div *ngIf="i.CO_list.length != 0">
                        <mat-step label="PO{{num+1}}">
                            <p style="text-align: center;"><strong>Action Plan as per PO</strong></p>
                            <form class="marks_dist" [formGroup]="marks_dist" (ngSubmit)="marks(num)">
                                <div class="form-group">
                                        Action Plan
                                        <input type="text" class="form-control" formControlName="Action_Plan" name = "Action">
                                </div>
                                
                                <div class="center">    
                                        <button id="at-{{ctr}}" class="btn btn-sm btn-info" matStepperNext (click)="access($event,num)" type="submit">Move To Next</button>
                                </div>
                            </form>
                        </mat-step>
                    </div>
                </div>
            </mat-horizontal-stepper>
            <div class="center">    
                    <button class="btn btn-sm btn-primary" (click) = "Save($event)"  matStepperNext #btn>Proceed</button>
                </div>