<div class="input">
    <cdk-virtual-scroll-viewport id='demo' itemSize='4'>

    <!-- <button mat-raised-button>Hello World</button> -->
    <mat-vertical-stepper linear class="step">
        <mat-step label="Course Details">
            <p style="text-align: center;"><strong>Course Details</strong></p>
            <form class="coursedetails" [formGroup]="course_details" (ngSubmit)="coursesubmit()">
                <div class="form-group">
                    <label for="name">Course Name</label>
                    <input id="name" formControlName="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="code">Course Code</label>
                    <input id="code" formControlName="code" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="session">Sessions Of Course</label>
                    <input id="sessions" formControlName="session" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="semester">Semester</label>
                    <input id="semester" formControlName="semester" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="credits">Credits</label>
                    <input id="credits" formControlName="credits" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ltp">L:T:P</label>
                    <input id="ltp" formControlName="ltp" type="text" class="form-control">
                </div>
                <div class="form-group">
                        <label for="co">No of CO's</label>
                        <input id="co" formControlName="co" type="text" class="form-control">
                    </div>
                <div class="center">    
                    <button class="btn btn-sm btn-primary" matStepperNext type="submit">Save and Proceed</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Course Outcomes">
            <app-course-outcome></app-course-outcome>       
        </mat-step>
        <mat-step label="CO-PO Mapping">
                <app-co-po-mapping></app-co-po-mapping>
        </mat-step>
        <mat-step label="CO Assessment">
            <app-assessment></app-assessment>
        </mat-step>
        <mat-step label="PI Mapping">
            <app-co-pi-mapping></app-co-pi-mapping>
        </mat-step>
        <!-- <mat-step label="Mapping Justification">
            <p>CO-PO Mapping</p>
        </mat-step> -->
        <mat-step label="Marks Distribution">
                <app-marks-distribution></app-marks-distribution>
        </mat-step>
        <mat-step label="Course Exit Survey">
            <app-course-exit></app-course-exit>
        </mat-step>
        <mat-step label="PO Action">
            <app-attainment></app-attainment>
        </mat-step>
        <mat-step label="Print">
            <br>
            <div class="center">  
                <button class="btn btn-success btn-lg" (click)="print($event)">Print Paper</button>
            </div>
            <!-- <p>Thanks for Using</p> -->
        </mat-step>
    </mat-vertical-stepper>
    </cdk-virtual-scroll-viewport>
</div>
