<p style="text-align: center;"><strong>Details of each CO</strong></p>
                <mat-horizontal-stepper linear class="step" #stepper>
                <div class="co_details"  *ngFor="let i of co;index as num">
                    <mat-step label="CO{{num+1}}">
                        <p style="text-align: center;"><strong>Course Details</strong></p>
                        <form class="marks_dist" [formGroup]="marks_dist" (ngSubmit)="marks(num)">
                            <div class="form-group" *ngFor="let p of exam;index as index">
                                    {{p}}:
                                    <input type="text" class="form-control" formControlName="{{p}}">
                            </div>
                            
                            <div class="center">    
                                    <button id="mardist-{{num}}" class="btn btn-sm btn-info" matStepperNext type="submit"(click)="access($event,num)">Move To Next</button>
                            </div>
                        </form>
                    </mat-step>
                    </div>
            </mat-horizontal-stepper>
            <div class="center">    
                    <button class="btn btn-sm btn-primary" [disabled] = "true"  (click)="Update_New_Direct_CO($event)" matStepperNext #btn>Proceed</button>
                </div>