<mat-sidenav-container class="example-container" [hasBackdrop]="false">
    <mat-sidenav class="sidebar" [opened] = "true" #sidenav [mode]="test">
      <p><button class="sidebar_text" mat-button (click)="Redirect($event)">New</button></p> 
      <p><button class="sidebar_text" mat-button (click)="swapview('draft')">Drafts</button></p>       
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="toggle_in">
          <!-- <p><button class = "toggle_button" mat-button >Toggle</button></p> -->
          <svg class="bi bi-chevron-right" (click)="sidenav.toggle()" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
      </div>
      <div class="context">
        <div *ngIf = "viewvar === 0"><app-drafts></app-drafts></div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>