<img src="assets/SPIT_logo.png" id="SPIT_logo" alt="SPIT logo">
<div class="container" id="login">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
              <div class="card-body">
                  <h3 class="card-title text-center">Login</h3>
                  <form class="form-signin" [formGroup]="loginform" (ngSubmit)="onsubmit()">
                  <div class="form-group">
                      <label for="name">Username</label>
                      <input id="Username" formControlName="Username" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="pass">Password</label>
                      <input id="Password" formControlName="Password" type="password" class="form-control">
                  </div>
                  <button class="btn btn-lg btn-success btn-block" type="submit">SIGN IN</button>
                  <hr class="my-4">
  
                  <div class="new">
                      <p>No account?<p>
                      <a routerLink="/signup">Sign up</a>
                  </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>