<p style="text-align: center;"><strong>Details of each CO</strong></p>
                <mat-horizontal-stepper #stepper linear class="step">
                <div class="co_details"  *ngFor="let i of co;index as num">
                    <mat-step label="CO{{num+1}}">
                        <p style="text-align: center;"><strong>Course Details</strong></p>
                        <form class="COdetails" [formGroup]="CO_details" (ngSubmit)="CO_submit(num)">
                            <div class="form-group">
                                <label for="course_outcome">Course Outcome</label>
                                <input id="course_outcome-{{num}}" formControlName="Course_Outcome" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cognitive_level">Cognitive Level</label>
                                <input id="cognitive_level-{{num}}" formControlName="Cognitive_Level" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                    <label for="session">CO Target</label>
                                    <input id="session-{{num}}" formControlName="CO_Target" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="session">Strength</label>
                                <input id="session-{{num}}" formControlName="No_of_hours" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="session">Bloom Level</label>
                                <input id="session-{{num}}" formControlName="Bloom_Level" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="session">Bloom Level Code</label>
                                <input id="session-{{num}}" formControlName="Bloom_Level_Code" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="session">Action Plan(If Target Not Achieved)</label>
                                <input id="session-{{num}}" formControlName="Action_Plan" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="session">Modification Plan(If Target Achieved)</label>
                                <input id="session-{{num}}" formControlName="Modification_Plan" type="text" class="form-control">
                            </div>
                            <div class="center">    
                                    <button id="initial_btn-{{num}}" class="btn btn-sm btn-info" type="submit" (click)="access($event,num)" [disabled]="false" matStepperNext #ref>Move To Next</button>
                            </div>
                            
                        </form>
                    </mat-step>
                    </div>
            </mat-horizontal-stepper>
            <div class="center">    
                    <button class="btn btn-sm btn-primary" (click) = "Save($event)" [disabled]="true" matStepperNext #btn>Proceed</button>
                </div>
            