#SPIT_logo{
    width: 400px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px;
}
h4{
    color:grey;
    padding-top:20px;
    padding-left: 10px;
    font-size:3vh;
  }
  @media (max-width:1400px) {
    h4 {
        text-align:center;
    }
}
@media (max-width: 450px) {
    h4 {
        font-size:4vw;
    }
}

.dropdown{
  position:absolute;
  top:10px; 
  right:10px;
}
#profile_mobile{
    position:absolute;
    right:10px;
    /* padding-bottom: 10px; */
  }
.profile{
        padding-bottom: 20px;
}
#dropdown_pc{
  position:absolute;
  top:10px; 
  right:10px;
}