<!-- <cdk-virtual-scroll-viewport id='demo' itemSize='4'> -->

<div class="scroll">
  <div id="paper">
    <div style='text-align: center'>
      <img id='logo' src="https://img.collegepravesh.com/2018/11/SPIT-Mumbai-Logo.png" alt="SPIT logo" height=80px>
      <h4>Sardar Patel Institute of Technology</h4>
      <p>Bhavan's Campus, Munshi Nagar, Andheri West, Mumbai - 400058</p>
      <h5>Outcome Based Evaluation</h5>
      <h5>Year 2019-20</h5>
      <h5>Phase-1 Planning</h5>
    </div>

    <br><br>

    <div *ngIf="course_details">

      <div class="table-sm" id="list">
        <table class="table">
          <tbody>

            <tr>
              <th>Course Name</th>
              <td>{{course_details_display.name}}</td>
            </tr>

            <tr>
              <th>Course Code</th>
              <td>{{course_details_display.code}}</td>
            </tr>

            <tr>
              <th>Semester</th>
              <td>{{course_details_display.semester}}</td>
            </tr>

            <tr>
              <th>Credits</th>
              <td>{{course_details_display.credits}}</td>
            </tr>

            <tr>
              <th>L:T:P</th>
              <td>{{course_details_display.ltp}}</td>
            </tr>

            <tr>
              <th rowspan = "4">Evaluation System</th>
              <td>ISE : {{show[8]}}</td>
            </tr>

            <tr>              
              <td>MSE : {{show[9]}}</td>
            </tr>

            <tr>              
              <td>ESE : {{show[10]}}</td>
            </tr>

            <tr>              
              <td>Total : {{show[11]}}</td>
            </tr>

            <tr>
              <th>Faculty</th>
              <td>{{show[12]}}</td>
            </tr>

            <tr *ngIf="show[7] && show[7].length>0">
              <th [attr.rowspan] = "show[7].length + 1">Prerequisites:</th>
              <td>1. {{(show[7])[0]}}</td>
            </tr>

            <tr *ngFor="let p of show[7];index as index;">              
              <td *ngIf="index!=0">{{index+1}}. {{p}}</td>
            </tr>
            
            

          </tbody>
          <!-- <tbody>
                <tr *ngFor="let q of ques.section2">
                  <td class="one" *ngIf="q.num == 'a'; else fail">Q2</td>
                  <ng-template #fail><td class="one"></td></ng-template>
                  <td class="two"> {{ q.num }})  {{ q.question }}</td>
                  <td class="three">{{ q.marks }}</td>
                 <td class="four">{{ q.co }}</td>
                </tr>
              </tbody>
              <tbody>
                  <tr *ngFor="let q of ques.section3">
                    <td class="one" *ngIf="q.num == 'a'; else fail">Q3</td>
                    <ng-template #fail><td class="one"></td></ng-template>
                    <td class="two"> {{ q.num }})  {{ q.question }}</td>
                    <td class="three">{{ q.marks }}</td>
                   <td class="four">{{ q.co }}</td>
                  </tr>
                </tbody>
                <tbody>
                    <tr *ngFor="let q of ques.section4">
                      <td class="one" *ngIf="q.num == 'a'; else fail">Q4</td>
                      <ng-template #fail><td class="one"></td></ng-template>
                      <td class="two"> {{ q.num }})  {{ q.question }}</td>
                      <td class="three">{{ q.marks }}</td>
                     <td class="four">{{ q.co }}</td>
                    </tr>
                  </tbody> -->
        </table>

      </div>

    </div>
    <u>
      <h6 class="space">Course Outcomes (CO):</h6>
    </u>

    <div *ngIf="co && course_details">
      <div class="table-sm" id="list">
        <table class="table">

          <tbody>
            <tr>
              <th>CO</th>
              <th>Course Outcome</th>
              <th>Cognitive Level</th>
              <th>PO/PSO</th>
              <th>CO Target</th>
            </tr>

            <tr *ngFor="let c of co;index as index">
              <td>CO{{index+1}}</td>
              <td>{{c.Course_Outcome}}</td>
              <td>{{c.Cognitive_Level}}</td>
              <td>
                <p *ngFor="let po of co[index].PO_map;p as index">{{po}},</p>
              </td>
              <td>{{c.CO_Target}}%</td>
            </tr>

            <!-- <tr>
              <th></th>
              <th>Total Hours of Instructions</th>
              <th></th>
              <th>{{course_details_display.session}}</th>
            </tr> -->

          </tbody>

        </table>
      </div>
    </div><br><br>

    <!-- <u>
      <h6 class="space">CO-PO Mapping</h6>
    </u>

    <div *ngIf="co && course_details">
      <div class="table-sm" id="list">
        <table class="table">

          <tbody>
            <tr>
              <th>CO</th>
              <th>Course Outcome</th>
              <th>PO/PSO</th>
              <th>Class Sessions(No of Hours)</th>
            </tr>

            <tr *ngFor="let c of co;index as index">
              <td>CO{{index+1}}</td>
              <td>{{c.Course_Outcome}}</td>
              <td>
                <p *ngFor="let po of co[index].PO_map;p as index">{{po}},</p>
              </td>
              <td>{{c.No_of_hours}}</td>
            </tr>

            <tr>
              <th></th>
              <th>Total Hours of Instructions</th>
              <th></th>
              <th>{{course_details_display.session}}</th>
            </tr>

          </tbody>

        </table>

      </div>
    </div> -->

    <u>
      <h6 class="space">Mapping of CO with PO:(correlation/ strength matrix) 
        Correlation Levels :   1(weak)   2( medium)  3(strong)<br>
        Table 1: Mapping of CO with PO:(correlation/ strength matrix) 
        </h6>
    </u>

    <div *ngIf="co && course_details">
      <div class="table-sm" id="list">
        <table class="table">

          <tbody>
            <tr>
              <th>CO</th>
              <th>PO1</th>
              <th>PO2</th>
              <th>PO3</th>
              <th>PO4</th>
              <th>PO5</th>
              <th>PO6</th>
              <th>PO7</th>
              <th>PO8</th>
              <th>PO9</th>
              <th>PO10</th>
              <th>PO11</th>
              <th>PO12</th>
              <th>PSO1</th>
              <th>PSO2</th>
              <th>PSO3</th>
            </tr>

            <tr *ngFor="let c of co;index as index">
              <td>CO{{index+1}}</td>
              <td *ngFor="let p of PO,index as x">
                <div *ngIf="check(index,x)">
                  <p class="{{x}}">{{c.No_of_hours}}</p>
                </div>
                <div *ngIf="!check(index,x)">
                  <p></p>
                </div>
              </td>

              <td *ngFor="let p of PSO,index as x">
                <div *ngIf="checkalt(index,x)">
                  <p>{{c.No_of_hours}}</p>
                </div>
                <div *ngIf="!checkalt(index,x)">
                  <p></p>
                </div>
              </td>
            </tr>

            <tr>
              <td>Total</td>
              <td *ngFor="let p of po;index as index">
                <p>{{p.Total_Sessions}}</p>
              </td>
            </tr>

            <tr>
              <td>Strength</td>
              <td *ngFor="let p of po;index as index">
                <p>{{p.Level  | number : '1.2-2'  }}</p>
              </td>
            </tr>


          </tbody>

        </table>

      </div>
    </div>

    <u>
      <h6 class="space">Table 2: Course Outcomes Assessment Tools Mapping</h6>
    </u>

    <div *ngIf="co && course_details">
      <div class="table-sm" id="list">
        <table class="table">

          <tbody>
            <tr>
              <th>CO</th>
              <th>Course Outcome</th>
              <th>Bloom Level</th>
              <th>Assessment Tool</th>
              <th>PO_Competency_PI</th>
            </tr>

            <tr *ngFor="let c of co;index as index">
              <td>CO{{index+1}}</td>
              <td>{{c.Course_Outcome}}</td>
              <td><p>{{c.Bloom_Level[0]}}</p><p>{{c.Bloom_Level[1]}}</p></td>
              <td><p *ngFor="let x of co[index].CO_Assessment;index as i">{{x}}</p></td>
              <td><p *ngFor="let x of co[index].PI_map;index as i">{{x}}</p></td>
            </tr>

          </tbody>

        </table>
      </div>
    </div><br><br>

    <u>
      <h6 class="space">Table 3: Assessment target Rubric for PO/PSO Attainment 
        Theory course  Attainment Levels Versus Target:
        <br><br>Table 2: Course Outcomes Assessment Tools Mapping</h6>
    </u>

    <div *ngIf="co && course_details">
      <div class="table-sm" id="list">
        <table class="table">

          <tbody>
            <tr>
              <th rowspan = "2">CO Attainment Method</th>
              <th colspan = "3">Attainment Level</th>
            </tr>
            <tr>
              <th>1 (low)</th>
              <th>2 (medium)</th>
              <th>3 (high)</th>
            </tr>

            <tr>
              <th>ESE/MSE</th>
              <td>< 40% student scoring more than class average in the final examination</td>
              <td>40-60% student scoring more than class average in the final examination</td>
              <td>>60% students scoring more class average in the final examination</td>
            </tr>
            <tr>
              <th>ISE</th>
              <td>< 50% students score more than class average in the internal assessment</td>
              <td> 50-70% students score more than class average in the internal assessment</td>
              <td>>70% students score more than class average in the internal assessment</td>
            </tr>
            <tr>
              <th>Course Exit Survey</th>
              <td>< 60% weight age average in course exit analysis</td>
              <td>60-80% weight age average in course exit analysis</td>
              <td>>80% weight age average in course exit analysis</td>
            </tr>

            
          </tbody>
          
        </table>
      </div>
    </div><br><br>
    
    <p>Laboratory Course</p>

    <br><br>


    <div *ngIf="co && course_details">
      <div class="table-sm" id="list">
        <table class="table">

          <tbody>
            <tr>
              <th rowspan = "2">CO Attainment Method</th>
              <th colspan = "3">Attainment Level</th>
            </tr>
            <tr>
              <th>1 (low)</th>
              <th>2 (medium)</th>
              <th>3 (high)</th>
            </tr>

            <tr>
              <th>ESE/ISE</th>
              <td>< 60% student scoring more than class average in the final examination</td>
              <td>60-70% student scoring more than class average in the final examination</td>
              <td>>80% students scoring more class average in the final examination</td>
            </tr>
            <tr>
              <th>Course Exit Survey</th>
              <td>< 60% weight age average in course exit analysis</td>
              <td>60-80% weight age average in course exit analysis</td>
              <td>>80% weight age average in course exit analysis</td>
            </tr>

          </tbody>
          
        </table>
      </div>
    </div><br><br>

    <u>
      <h6 class="space">Table 4: Course Outcomes Attainment:</h6>
    </u>

    <div *ngIf="co && course_details">
      <div class="table-sm" id="list">
        <table class="table">

          <tbody>
            <tr>
              <th rowspan="2">CO</th>
              <th colspan="3">ISE</th>
              <th>ISE CO Attainment</th>
              <th>MSE Class Avg%</th>
              <th>MSE CO Attainment</th>
              <th>ESE Class Avg%</th>
              <th>ESE CO Attainment</th>
              <th>Direct CO Attainment Level</th>
              <th>Indirect CO Attainment %</th>
              <th>Indirect CO Attainment Level</th>
            </tr>

            <tr>
              <td>ISE1</td>
              <td>ISE2</td>
              <td>Class Avg.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr *ngFor="let c of co;index as index">
              <td>CO{{index+1}}</td>
              <td>{{c.ISE1}}</td>
              <td>{{c.ISE2}}</td>
              <td>{{c.ISEAvg}}</td>
              <td>{{c.ISEA}}</td>
              <td>{{c.MSE}}</td>
              <td>{{c.MSEA}}</td>
              <td>{{c.ESE}}</td>
              <td>{{c.ESEA}}</td>
              <td>{{c.dv | number : '1.2-2'  }}</td>
              <td>{{ (((c.course_exit[2])*3 + (c.course_exit[1])*2 + 1*(c.course_exit[0]))/((1*(c.course_exit[2]) + 1*(c.course_exit[1]) + 1*(c.course_exit[0]))*3))*100  | number : '1.2-2'   }}</td>
              <td>{{c.CSA}}</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div><br><br>

    <p>Direct CO attainment Level =0.2*ISE CO Attainment + 0.2*MSE CO Attainment + 0.6*ESE CO Attainment<br><br>
      Consider the  above formula only if all three assessments tools present. <br><br>
      If only ESE:<br><br>
      Direct CO attainment Level =ESE CO Attainment<br><br>
      If only ISE & ESE: <br><br>
       Direct CO attainment Level =(0.2*ISE CO Attainment +  0.6*ESE CO Attainment) *1.25<br><br>
      If only MSE & ESE:<br><br>
       Direct CO attainment Level =(0.2*MSE CO Attainment +  0.6*ESE CO Attainment) *1.25<br><br>
      If only MSE and ISE<br><br>
       Direct CO attainment Level =(0.2*ISE CO Attainment +  0.2*MSE CO Attainment) *2.5<br><br>
      If only MSE /ISE <br><br>
       Direct CO attainment Level =(0.2*ISE CO Attainment ) * 5<br><br>
      </p>

    <u>
      <h6 class="space">Table 5: CO Quality closure loop table</h6>
    </u>

    <div *ngIf="co && course_details">
      <div class="table-sm" id="list">
        <table class="table">

          <tbody>
            <tr>
              <th>CO</th>
              <th>Direct CO Attainment Level</th>
              <th>Indirect CO Attainment Level</th>
              <th>Total Attainment(0.8*Direct Attainment + 0.2*Indirect Attainment)</th>
              <th>CO target %</th>
              <th>CO target level</th>
              <th>Action Plan(Total attainment < CO target Level)</th>
              <th>Modification of target when achieved(Total attainment >= CO target Level)</th>
            </tr>

            <tr *ngFor="let c of co;index as index">
              <td>CO{{index+1}}</td>
              <td>{{c.dv | number : '1.2-2'  }}</td>
              <td>{{c.CSA}}</td>
              <td>{{c.Total_Attainment | number : '1.2-2'  }}</td>
              <td>{{c.CO_Target}}</td>
              <td>{{(c.CO_Target/100)*3 | number : '1.2-2' }}</td>
              <td>{{c.Action_plan}}</td>
              <td>{{c.Modification_plan}}</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div><br><br>

    <div *ngIf="co && course_details">
      <h6 class = "space">Table : 6  PO/PSO attainment table</h6>
      <div class="table-sm" id="list">
        <table class="table">
          <tbody>
            <tr>
              <th>PO/PSO attainment</th>
              <th>Correlation/strength</th>
              <th>COs</th>
              <th>Overall Direct attainment Level(D)</th>
              <th>Overall  InDirect attainment Level(ID)</th>
              <th>Action plan From table 5 Consolidated as per PO</th>
            </tr>

            <ng-container *ngFor="let p of po;index as i">
              <tr *ngIf="p.CO_list.length != 0">
                <!-- <div *ngIf="p"> -->
                  <td [attr.rowspan] = "p.CO_list.length" *ngIf="i < 12">PO{{ i+1 }}</td>
                  <td [attr.rowspan] = "p.CO_list.length" *ngIf="i>=12">PSO{{ i-11 }}</td>
                  <td [attr.rowspan] = "p.CO_list.length">{{ p.Level | number : '1.2-2' }}</td>
                  <td>CO{{ p.CO_list[0]+1 }}</td>
                  <td [attr.rowspan] = "p.CO_list.length">{{ p.dir   | number : '1.2-2'  }}</td>
                  <td [attr.rowspan] = "p.CO_list.length">{{ p.indir   | number : '1.2-2'   }}</td>
                  <td [attr.rowspan] = "p.CO_list.length">{{p.PO_Action}}</td>
                <!-- </div> -->
              </tr>
              <ng-container *ngFor="let c of p.CO_list;index as in">
                <tr *ngIf = "in!=0">
                  <td>CO{{ c+1 }}</td>
                  <!-- <td>{{ co[c].dv   | number : '1.2-2'   }}</td> -->
                </tr>
              </ng-container>
            </ng-container>
            
          </tbody>
        </table>
      </div>
    </div>

    <p>Overall Direct attainment Level=
      Avg.attainment of (COs mapped to that PO)*correlation/3
      ={{final_attainment[0] | number : '1.2-2' }}</p>
    <p>Overall Indirect attainment Level=
      Avg.attainment of (COs mapped to that PO)*correlation/3
      ={{final_attainment[1] | number : '1.2-2' }}</p>

