

  #demo {
    height: 100%;
    width: auto;
    color: black;
    /* border: 2px solid red; */
    background: white;
  }
  @media (max-width:450px)
  {
    #demo {
      height:100vh;
      width:auto;
      color: black;
      /* border: 2px solid red; */
      background: white;
    }
  }
  #paper {
    /* width:750px;
    height:842px; */
    width:100%;
    height:700%;
    color: black;
    /* // border: 2px solid red; */
    background: white;
    /* margin:2%; */
  }
  #list{
    margin: 0 10%;
    }
    table th{
      border:1px solid black;
      list-style-type: none;
      font-weight: 500;
      font-size: 0.8rem;
  }
  table tbody{
      border-bottom:1px solid black;
  }
  table td{
    border:1px solid black;
    font-size: 0.8rem;
  }
  
  #logo {
    margin-left: 5%;
    margin-top: 5%;
  }
  
  #info {
    margin: 0 10%;
    border: 1px solid black;
     /* height: 200px; */
  }
  
  #headerLeft {
    list-style-type: none;
    font-weight: 500;
    font-size: 0.8rem
  }
  
  hr {
    margin: 0;
  }
  
  #instructions {
    margin-left: 5%;
  }
  
  #instructions > ul {
    list-style-type: none;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  #instructions > p {
    margin-bottom: 0;
  }
  
  .grid-container {
    display: grid;
    margin: 0 10%;
    grid-template-columns: 10% 70% 10% auto;
    grid-gap: 1px;
    background-color: black;
    padding: 1px;
    font-size: 0.8rem;
  }
  
  .grid-item {
    padding:0 2%;
    background-color: white;
  }
  
  #paperbold{
    font-weight: 500;
    font-size: 0.8rem;
  }
  #questions{
    margin: 0 10%;
    }
    table th{
      border:1px solid black;
      list-style-type: none;
      font-weight: 500;
      font-size: 0.8rem;
  }
  table tbody{
      border-bottom:1px solid black;
  }
  table td{
    border-left:1px solid black;
    border-right:1px solid black;
  }
  .one,.three,.four{
    width:10%;
    padding:0 8px;
  
  }
  .two{
    width:70%;
    padding:0 8px;
  
  }
  
  div.scroll {
    width:auto;
    overflow-x:scroll;
    overflow-y:scroll;
    height:80vh;
    /* margin:2px; */
}
@media (max-width: 450px) {
  div.scroll {
    /* width:stretch; */
    height:50vh;
    /* background:white; */
    /* margin:2px; */
}
}
.space{
  /* padding-left:50px; */
  margin-left:5%;
}