<img src="assets/SPIT_logo.png" id="SPIT_logo" alt="SPIT logo">

<div class="container" id="signup">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h3 class="card-title text-center">Signup</h3>
                <form class="form-signin" [formGroup]="signupform" (ngSubmit)="onsubmit()">
                        <div class="form-group" [ngClass] = "{'alert alert-danger' : signupform.get('Username').errors && (signupform.get('Username').touched || signupform.get('Username').dirty)}">
                                <label for="name">Username</label>
                                <input id="Username" formControlName="Username" type="text" class="form-control">
                                <span class="help-block" *ngIf="signupform.get('Username').errors && (signupform.get('Username').touched || signupform.get('Username').dirty)">
                                    <span *ngIf="signupform.get('Username').errors.required">
                                        Username required                              
                                    </span>
                                </span>
                            </div>

                        <div class="form-group" [ngClass] = "{'alert alert-danger' : signupform.get('Email').errors && (signupform.get('Email').touched || signupform.get('Email').dirty)}">
                            <label for="name">Email</label>
                            <input id="Email" formControlName="Email" type="text" class="form-control">
                            <span class="help-block" *ngIf="signupform.get('Email').errors && (signupform.get('Email').touched || signupform.get('Email').dirty)">
                                <span *ngIf="signupform.get('Email').errors.required">
                                    Email required                              
                                </span>
                            </span>
                        </div>

                        <div class="form-group" [ngClass] = "{'alert alert-danger' : signupform.get('Password').errors && (signupform.get('Password').touched || signupform.get('Password').dirty)}">
                            <label for="Password">Password</label>
                            <input id="Password" formControlName="Password" type="password" class="form-control">
                            <span class="help-block" *ngIf="signupform.get('Password').errors && (signupform.get('Password').touched || signupform.get('Password').dirty)">
                                <span *ngIf="signupform.get('Password').errors.required">
                                    Password required<br>                              
                                </span>
                            </span>
                            <!-- question mark checks whether if error is present or not -->
                            <span *ngIf="signupform.get('Password').errors?.minlength"> 
                                Password must be of atleast 8 characters in length<br>                              
                            </span>
                        </div>

                        <div class="form-group" [ngClass] = "{'alert alert-danger' : signupform.get('CPassword').errors && (signupform.get('CPassword').touched || signupform.get('CPassword').dirty)}">
                            <label for="cpass">Confirm Password</label>
                            <input id="CPassword" passmatch='Password' formControlName="CPassword" type="password" class="form-control">
                            <span class="help-block" *ngIf="signupform.get('CPassword').errors && (signupform.get('CPassword').touched || signupform.get('CPassword').dirty)">
                                <span *ngIf="signupform.get('CPassword').errors.required">
                                    Password required<br>                              
                                </span>
                            </span>
                            <!-- question mark checks whether if error is present or not -->
                            <span *ngIf="signupform.get('CPassword').errors?.minlength"> 
                                Password must be of atleast 8 characters in length<br>                              
                            </span>

                            <span *ngIf="signupform.get('CPassword').errors?.NotEqual"> 
                                Passwords do not match<br>                              
                            </span>

                        </div>

                        <button class="btn btn-lg btn-info btn-block" type="submit" [disabled]="!signupform.valid">Register</button>
                </form> 
            </div>
        </div>
    </div>
  </div>
</div>