<p style="text-align: center;"><strong>Course Exit</strong></p>
    <mat-horizontal-stepper #stepper linear class="step">
        <div class="co_details"  *ngFor="let i of co;index as num">
            <mat-step label="CO{{num+1}}">
            <p style="text-align: center;"><strong>Course Exit Details</strong></p>
            <form class="COdetails" [formGroup]="course_exit" (ngSubmit)="CO_submit(num)">
                <div class="form-group">
                    <label for="no3">No. of 3's</label>
                    <input id="no3-{{num}}" formControlName="No3" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="no2">No. of 2's</label>
                    <input id="no2-{{num}}" formControlName="No2" type="text" class="form-control">
                </div>
                <div class="form-group">
                        <label for="no1">No. of 1's</label>
                        <input id="no1-{{num}}" formControlName="No1" type="text" class="form-control">
                </div>
                <div class="center">    
                        <button id="coex-{{num}}" class="btn btn-sm btn-info" type="submit" (click)="access($event,num)" matStepperNext>Move To Next</button>
                </div>
            </form>
            </mat-step>
        </div>
    </mat-horizontal-stepper>
    <div class="center">    
        <button class="btn btn-sm btn-primary" [disabled] = "true" (click)="Update_Indirect_PO($event)" matStepperNext #btn>Proceed</button>
    </div>